venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.whl

.vscode/

# Ignore file log
scraper.log
**/scraper.log

# Ignore file Excel
facebook_posts.xlsx
**/facebook_posts.xlsx

facebook_cookies.json
**/facebook_cookies.json